*,
*::before
*::after
{
    margin: 0;padding: 0;box-sizing: border-box;
}

#root{
    background-color: bisque;
    height: 100%;
    padding:15px;
    font-family: 'Montserrat', sans-serif;
}




code{border:1px green solid;
margin:15px;}

.tab{
    background-color:  bisque;
}
.comment{
    background-color:  bisque;;
  
}